#topbar{
    background-color: #fff;
    width: 100%;
    height: 6%;
}
.topbar__upper{
    display: flex;
    align-items: center;
    border-bottom: none;
    padding: 2px 5px;

}
.topbar__upper img{
    max-width: 20px;
    max-height: 20px;   
}
.topbar__upper ul{
    margin-left: 5px;
}
.topbar__upper ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 0.8rem;
} 
.topbar__upper ul li:hover{
    color: white;
    background-color: #000;
    cursor: pointer;
    box-shadow:  0px 0px 5px #000;
}
.topbar__lower{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 1px 5px;
}
.topbar__lower__left{
    width: 50%;
}
.topbar__lower__right{
    width: 50%;
}

.topbar__lower ul{
    margin-left: 10px;
}
.topbar__lower ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 0.8rem;
}
.topbar__lower ul li:hover{
    color: white;
    background-color: #000;
    cursor: pointer;
    box-shadow:  0px 0px 5px #000;

}

#bodycontainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 94%;
    background-color: #fff;
}
.bodycontainer__left{
    width: 4%;
    height: 100%;
    background-color: #E2D1F9;
    position: relative;
}
.bodycontainer__middle{
    width: 76%;
    height: 100%;
    /* overflow: hidden; */
}
#myCanvasWrapper{
    width: 100%;
    height: 100%;
}
.bodycontainer__right{
    width: 20%;
    height: 100%;
    overflow: scroll;
}
.bodycontainer__left__icon__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.bodycontainer__left__icon__wrapper img{
    width: 40px;
    height: 40px;
    margin: 20px;
}
.activeImageIcon{
    cursor: pointer;
    padding: 10px;
    box-shadow:  0px 0px 5px #000;
}
.bodycontainer__right{
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url("../images/layerbg.png");
    background-repeat: repeat-y;
    background-size: contain;
}
.bodycontainer__right__layer__item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E2D1F9;
    border-top: none;
    border-radius: 5px;
    margin-top: 1px;
}
.layer__active{
    box-shadow:  0px 0px 10px #000;
    cursor: pointer;
}
.bodycontainer__right__layer__item img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.bodycontainer__right__layer__item p{
    margin-right: 40px;
    font-size: 1.2rem;
}

.bodycontainer__right__control{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #caa5fc;
    border-radius: 5px;
    opacity: 0.9;
}
.bodycontainer__right__control img{
    height: 40px;
    width: 40px;
}

